<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-claret"> </span>
		<span class="sg-label">
			$brand-claret
			<hr class="hr-small">
			#a80c35
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-charcoal"> </span>
		<span class="sg-label">
			$brand-charcoal
			<hr class="hr-small">
			 #2e444e
		</span>
	</li>
		<li>
		<span class="sg-swatch bg-blue"> </span>
		<span class="sg-label">
			$brand-blue
			<hr class="hr-small">
			#0097D6
		</span>
	</li>
		<li>
		<span class="sg-swatch bg-teal"> </span>
		<span class="sg-label">
			$brand-teal
			<hr class="hr-small">
			#00B5Ae;
		</span>
	</li>
		<li>
		<span class="sg-swatch bg-green"> </span>
		<span class="sg-label">
			$brand-green
			<hr class="hr-small">
			#8eb73d
		</span>
	</li>
	</li>
		<li>
		<span class="sg-swatch bg-light-green"> </span>
		<span class="sg-label">
			$brand-light-green
			<hr class="hr-small">
			#CAC225
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-yellow"> </span>
		<span class="sg-label">
			$brand-yellow
			<hr class="hr-small">
			#f0b70e
		</span>
	</li>
	</li>
		<li>
		<span class="sg-swatch bg-orange"> </span>
		<span class="sg-label">
			$brand-orange
			<hr class="hr-small">
			#f27020
		</span>
	</li>

	</li>
		<li>
		<span class="sg-swatch bg-red"> </span>
		<span class="sg-label">
			$brand-red
			<hr class="hr-small">
			 #f27020
		</span>
	</li>
	</li>
		<li>
		<span class="sg-swatch bg-pink"> </span>
		<span class="sg-label">
			$brand-pink
			<hr class="hr-small">
			#ef4d9b
		</span>
	</li>
	</li>
		<li>
		<span class="sg-swatch bg-dark-pink"> </span>
		<span class="sg-label">
			$brand-dark-pink
			<hr class="hr-small">
			#c5168e
		</span>
	</li>
	</li>
		<li>
		<span class="sg-swatch bg-purple"> </span>
		<span class="sg-label">
			$brand-purple
			<hr class="hr-small">
			#7C51A1
		</span>
	</li>
	
	
</ul>


