<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-TURQUOISE"></span>
		<span class="sg-label">
            $color-utility-positive <br />
            #03804d
        </span>
	</li>
	<li>
		<span class="sg-swatch bg-EMERALD"></span>
		<span class="sg-label">
			$color-utility-positive-subtle <br />
			#d4f3e6
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-ALIZARIN" ></span>
		<span class="sg-label">
			$color-utility-negative-subtle<br />
			#a59b15
		</span>
	</li>	
	<li>
		<span class="sg-swatch bg-punkin" ></span>
		<span class="sg-label">
		$color-utility-negative-subtle
			 <br />
			#0192d0
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-orange"></span>
		<span class="sg-label">
			$color-utility-caution
			 <br />
			#fffecf
		</span>
	</li>
	
	<li>
		<span class="sg-swatch bg-sun"></span>
		<span class="sg-label">
			$color-utility-caution-subtle <br />
			#fdded8
		</span>
	</li>

	
	<li>
		<span class="sg-swatch bg-peterRiver"></span>
		<span class="sg-label">
			$color-utility-information <br />
			#b12a0b
		</span>
	</li>
</ul>