.page-header {
    padding-bottom: 5px;
    margin: 10px 0 10px;
    border-bottom: 1px solid #eeeeee;
}

a.main-link {
    //font-size: .8em;
}
 
/* external css*/
.single_link_block .meta,
.single_link_block .tab,
.single_link_block .tag {
    text-transform: uppercase;
}

.single_link_block .h3:hover,
.single_link_block .tag:hover,
.single_link_block h3:hover {
    text-decoration: underline;
}

.single_link_block {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 #c7c8ca;
    transition: box-shadow .2s ease-in-out;
    background-color: #fff;
    margin-top: 15px;
}

.single_link_block:hover {
    box-shadow: 0 3px 10px 2px #c7c8ca;
}

.single_link_block .image {
    position: relative;
    display: block;
}

.single_link_block .image.zoomer {
    overflow: hidden;
}

.single_link_block .image img {
    /* width: 100%; */
    height: auto;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}

.single_link_block .copy {
    padding: 0px 20px 0px 10px;
}

.single_link_block .copy > h2:first-child,
.single_link_block .copy > h3:first-child {
    margin-top: -3px; 
}

.single_link_block .copy .date {
    margin-bottom: 16px;
}

.single_link_block .meta,
.single_link_block .tag {
    display: inline-block;
    color: #333;
    margin-bottom: 10px;
}

.single_link_block .tab {
    margin-left: -10px;
    margin-bottom: -10px;
}

.single_link_block .tab > a {
    background: #e3e4e6;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.single_link_block .tab > a:hover {
    background-color: #ffca2b;
}

.single_link_block .tab > a {
    color: #333;
}

.single_link_block.insights {
    font-size: 0;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
}

.single_link_block.insights:hover {
    box-shadow: none;
}

.single_link_block.insights .copy,
.single_link_block.insights .image {
    display: inline-block;
    vertical-align: top;
}

.single_link_block.insights .copy {
    padding: 20px 0;
}

.single_link_block.insights .tab {
    margin-left: 0;
}

.single_link_block.insights .copy .h3,
.single_link_block.insights .copy h3 {
    margin-bottom: 5px;
}

.single_link_block.insights.fullwidth,
.single_link_block.insights.halfwidth {
    border-radius: 0;
}

.single_link_block.insights.fullwidth .image,
.single_link_block.insights.halfwidth .image {
    max-height: 100%;
    text-align: center;
}

.single_link_block.insights.fullwidth .copy,
.single_link_block.insights.halfwidth .copy {
    padding: 0 20px;
}

.single_link_block.insights.fullwidth .copy .h3,
.single_link_block.insights.halfwidth .copy .h3 {
    margin-top: -5px;
}

.single_link_block.insights.halfwidth .image img {
    width: 100%;
    height: auto;
}

.single_link_block.insights.fullwidth .copy,
.single_link_block.insights.fullwidth .image {
    width: 50%;
}

html.lt-ie9 .single_link_block:hover .image:before,
html .single_link_block:hover .image > .overlay {
    display: none;
}

html.lt-ie9 .single_link_block:hover .image > .overlay,
html .single_link_block:hover .image:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    opacity: .7;
    filter: alpha(opacity = 70);
}

/* end of external */
.pm-side-nav {}

.nav-tabs > li:first-child {
    margin-left: 0px;
}

.padding-top {
    padding-top: 20px; 
}

.pm-side-nav {
    background-color: #fff;
    padding: 10px;
}

.nav-tabs.nav-stacked > li:hover a {
    border: 1px solid #ddd;
    border-left: 4px solid #ffca2b;
}

.nav-tabs.nav-stacked > li > a {
    border: 1px solid #fff;
    border-radius: 0px;
    margin-top: 1px;
}

.nav-tabs.nav-stacked > li:last-child > a {
    border-radius: 0px;
}

.nav-tabs.nav-stacked > li:first-child > a {
    border-radius: 0px;
}

@media only screen and (max-width: 1450px) and (min-width: 1200px) {
    .pm-side-nav li a {
        font-size: 11px;
    }

    .single_link_block p {
        font-size: 11px;
    }

    .single_link_block h3 {
        font-size: 14px;
        margin: 0px;
        padding: 0px;
    }

    .nav-tabs > li > a, .nav-pills > li > a {
        padding-right: 0px;
        padding-left: 0px;

        //margin-right: 2px;
        //line-height: 14px;
   
    }

    .single_link_block .copy {
        padding: 0px 0px 0px 10px;
    }
 
    .pm-icon {
        padding: 0px 4px 0px 4px;
    }

    .nav-tabs.nav-stacked > li:hover a {
        border-left: 0px solid #ffcc23;
        border: 1px solid #ddd;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1550px) {
    .single_link_block .image img {
        /*height: 150px;*/
        width: auto;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}